
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Frequently Asked Questions</title>

    <!-- Bootstrap core CSS -->
      {% load staticfiles %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document" style="background-color:#f6f9fa;">


    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">BloodApp</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/features">Features</a></li>
	<li><a href="/regsister">Register</a></li>
<li><a href="/termsAndCondition">Terms And Condition</a></li>
            <li><a href="/whyBloodApp">Why BloodApp Made ?</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="container theme-showcase" role="main">

      <div class="page-header" style="margin-top:80px">
        <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Frequently Asked Questions</h1>
      </div>
	

<div class="row">
	  <div class="six columns" style="margin-left:100px; float:left">
	   	<p style="background-color:white;border-left: none;color: rgba(85,94,106,0.8);font-size: 16px;font-style: normal;line-height: 			1.6;margin: 0 0 30px 0;padding: 26px;position: absolute;border-radius: 5px;box-shadow: 0 3px 0 #e5eef1; width:40%">
      			<strong> Is there any danger in donating blood?</strong>
      			<br>There is virtually no danger. Only sterile and disposable needles are used to collect blood.  There is absolutely 				no chance of catching any infectious disease by donating blood.
		</p>
	</div>
<div class="six columns" style="margin-right:530px;float:right">
	   	<p style="background-color:white;border-left: none;color: rgba(85,94,106,0.8);font-size: 16px;font-style: normal;line-height: 			1.6;margin: 0 0 30px 0;padding: 26px;position: absolute;border-radius: 5px;box-shadow: 0 3px 0 #e5eef1;width:35%">
      			<strong>Will it hurt?</strong>
       <br>Giving blood is not painful. You may feel a pinch in the beginning lasting only a couple of seconds. </p>
	</div>	
	<div class="six columns" style="margin-left:100px;margin-right:300px;margin-float:left;margin-top:185px">
	   	<p style="background-color:white;border-left: none;color: rgba(85,94,106,0.8);font-size: 16px;font-style: normal;line-height: 			1.6;margin: 0 0 30px 0;padding: 26px;position: absolute;border-radius: 5px;box-shadow: 0 3px 0 #e5eef1;width:40%">
	 <strong>Will I get AIDS?</strong>
       <br>Absolutely not! All equipments used to collect blood are sterile. These items are used once and discarded. Blood collections are performed by professionally trained blood bank personnel whose primary concern is your safety and the safety of the blood to be transfused. </p>
      		
	</div>	<div class="six columns" style="margin-left:640px;float:left">
	   	<p style="background-color:white;border-left: none;color: rgba(85,94,106,0.8);font-size: 16px;font-style: normal;line-height: 			1.6;margin: 0 0 30px 0;padding: 26px;position:absolute;border-radius: 5px;box-shadow: 0 3px 0 #e5eef1;width:35%">
      			<strong>What if I faint?</strong>
       <br>The likelihood of this happening is minimal. You should eat before donating and drink extra fluids, especially after your donation.</p>
	</div>	

<div class="six columns" style="margin-left:100px;margin-right:410px;float:left;margin-top:235px">
	   	<p style="background-color:white;border-left: none;color: rgba(85,94,106,0.8);font-size: 16px;font-style: normal;line-height: 			1.6;margin: 0 0 30px 0;padding: 26px;position: absolute;border-radius: 5px;box-shadow: 0 3px 0 #e5eef1;width:40%">
      		
<strong>Why do I have to wait for three months before donating again?</strong>
      <br>Since blood contains iron (which is essential for making new red blood cells), donating blood more often than every 3 months causes the body to lose iron faster than it can be made up from iron-containing foods in our diet. As a result the donor could develop iron deficiency anemia, causing him/her to feel weak and tired.</p>       		
	</div>			
<div class="six columns" style="margin-right:520px;float:right;margin-top:235px">
	   	<p style="background-color:white;border-left: none;color: rgba(85,94,106,0.8);font-size: 16px;font-style: normal;line-height: 			1.6;margin: 0 0 30px 0;padding: 26px;position: absolute;border-radius: 5px;box-shadow: 0 3px 0 #e5eef1;width:35%">
	     		
<strong>I suffer from diabetes, Can I Still Donate Blood?</strong>
       <br>Yes one can still donate blood if you are on oral medication for diabetes and are not insulin-dependent, you are a good candidate to donate blood. All you need to do is keep a few of these parameters in mind before you donate. You should not have donated blood for at least 56 days, and  should be generally healthy. If you suffer from high blood pressure or any other heart disease, make sure to consult your doctor before you donate blood.</p>
		
</div>	

<div class="six columns" style="margin-left:100px;margin-right:520px;margin-top:330px;float:right">
	   	<p style="background-color:white;border-left: none;color: rgba(85,94,106,0.8);font-size: 16px;font-style: normal;line-height: 			1.6;margin: 0 0 30px 0;padding: 26px;position: absolute;border-radius: 5px;box-shadow: 0 3px 0 #e5eef1;width:35%">

<strong>Will I become weak if I donate frequently?</strong>
       <br>No. It is perfectly healthy to donate blood once in every 3 months for an individual.</p>

</div>



<div class="six columns" style="margin-left:100px;margin-right:300px;margin-top:330px;float:left">
	   	<p style="background-color:white;border-left: none;color: rgba(85,94,106,0.8);font-size: 16px;font-style: normal;line-height: 			1.6;margin: 0 0 30px 0;padding: 26px;position: absolute;border-radius: 5px;box-shadow: 0 3px 0 #e5eef1;width:40%">

<strong>Can one donate blood if one’s body weight is less than 45 kg?</strong>
       <br>Not desirable. But in extreme emergency, a margial difference in weight to the tune of 1 to 2 kg is not harmful, so long as body weight x 8ml is above or equal to the volume of donation.
</p>

</div>
<div style="margin-left:320px;margin-top:780px;position:absolute" >
	<font style="color:grey">For Any Suggestions Or Queries Mail Us At : pmBloodApp@gmail.com</font>
</div>
	
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>






