<!DOCTYPE html>
<html>
<head>
	{% load staticfiles%}
    <!-- Bootstrap core CSS -->
<link rel="icon" href="{% static 'images/BloodApp.ico' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
 <link href="{% static 'css/justified-nav.css'%}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'js/ie-emulation-modes-warning.js'%}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js'%}"></script>
</head>
<body>
<div class="masthead">
        <h3 class="text-muted">Blood App</h3>
        <ul class="nav nav-justified">
          <li><a href="/">Home</a></li>
          <li><a href="/termsAndCondition">Terms And Conditions</a></li>
          <li><a href="/am-I-Eligible">Who Is Eligible</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="/listUsers">Registered Entries</a></li>
          <li><a href="/whyBloodApp">Why BloodAPP is Made?</a></li>
        </ul>
      </div>
	<div class="jumbotron" style="background-color:#e5e5e5">
	<h1>Register For Blood App</h1>
        <p class="lead">Just By Donating Blood , You Can Save Someone's Life...</p>
<p class="lead"><strong>By Clicking on "Register With Facebook" OR "Register With Google+" ,You Accept All Terms And Conditions Mentioned By BloodApp(<a href="/termsAndCondition" >Click Here To See Terms And Conditions </a>)</strong></p>
            
	</div>
    <div id="example" class="container">
	<a href="{% url 'socialauth_begin' 'facebook' %}" class="btn btn-primary btn-lg btn-block" role="button" style="background-color:#3b5998;width:340px;margin-left:auto;margin-top:70px;margin-right:auto;">Register With Facebook</a>	
	<p><a href="{% url 'socialauth_begin' 'google-oauth2' %}" class="btn btn-primary btn-lg btn-block" style="width:340px;margin-left:auto;margin-top:30px;margin-right:auto;background-color:#d14836;">Register With Google+</a></p>
	</div>

<div class="footer">
<font style="color:grey"><h3>For Any Suggestions Or Queries Mail Us At : pmBloodApp@gmail.com</h3></font>
      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
</body>
</html>

